{{> navbar }}
<div id="cart">
    <div class="container">
        <h1>My Cart</h1>
        <h2 class="right-align">Total: <span>GH₵ {{totalPrice}}</span></h2>
        {{#if itemsInCart}}
        <ul>
            {{#each itemsInCart}}
            <li data-id={{this._id}} data-price={{this.price}} class="card horizontal small">
                <div class="card-image">
                    <img src={{this.image}} alt="">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <div>
                            <h2>{{this.name}}</h2>
                            <p>{{this.description}}</p>
                        </div>
                        <div class="config">
                            <h4>Quantity</h4>
                            <button class="btn-floating waves-effect waves-red amber accent-4" aria-label="decrement">
                                <i class="material-icons">chevron_left</i>
                            </button>
                            <span class="quantity">{{this.quantity}}</span>
                            <button class="btn-floating waves-effect waves-green amber accent-4" aria-label="increment">
                                <i class="material-icons">chevron_right</i>
                            </button>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="waves-effect waves-light btn right">
                            <i class="material-icons left">remove</i>
                            <span>Remove</span>
                        </button>
                    </div>
                </div>
            </li>
            {{/each}}
            <hr>
        </ul>
        <a href="/checkout" class="waves-effect waves-light btn right" aria-label="Checkout">
            <i class="material-icons left">shopping_basket</i>
            Checkout
        </a>
        {{else}}
        <h2 class="center-align">No item in cart</h2>
        {{/if}}
    </div>
</div>

<script>
    const cardItem = document.querySelector(".card")

    if (window.innerWidth <= 670) {
        cardItem.classList = ['card small']
    } else {
        cardItem.classList = ['card horizontal small']
    }

    document.addEventListener('resize', _ => {
        if (window.innerWidth <= 670) {
            cardItem.classList = ['card small']
        } else {
            cardItem.classList = ['card horizontal small']
        }
    })

</script>