{{> navbar}}
<main>
    <section id="showcase">
        <h1 class="center-align">Delicious <span role="img" aria-label="emoji">😋</span></h1>
        <p class="center-align">Get your pizza now. No waiting. Fast and Delicious</p>
        <a href="/register" class="waves-effect waves-dark btn white black-text pulse">Make an order</a>
    </section>
    <section class="center-align" id="gallery">
        <h2>Order from our store</h2>
        <p>Our store has all sort of pizza recipes. All recipes are customizable. Sign and order a pizza of your
            preference.</p>
        <div class="row">
            <ul class="col s12">
                {{#each items}}
                <li class="col s4">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{this.image}}" alt="{{this.name}}" />
                            <span class="card-title right-align">{{this.price}}</span>
                            <span class="card-title left-align">{{this.name}}</span>
                        </div>
                        <div class="card-content">
                            <p>{{this.description}}</p>
                        </div>
                        <div class="card-action">
                            <a href="/home" class="waves-effect waves-light btn blue" aria-label="Buy">
                                <i class="material-icons left">shopping_cart</i>
                                Buy
                            </a>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </section>
    <section id="register">
        <h2 class="center-align">La pizza è calda e pronta per essere servita</h2>
        <p class="center-align">Sign up and make an order now</p>
        <a class="waves-effect waves-dark btn white black-text">Sign up</a>
    </section>
    {{> info-and-contact}}
    {{> footer}}
</main>